<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

            <app-severity-table></app-severity-table>

 <router-outlet></router-outlet> -->
 <ul>
  <li  class="dropdown">
  <a href="#home" class="btn-secondary dropdown-toggle">Home</a>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Log</a><br>
    <a class="dropdown-item" href="#">Roles</a><br>
    <a class="dropdown-item" href="#">Actions</a><br>
  </div>
    </li>
  <li><a href="#Rules">Rules</a></li>
  <li><a href="#Solution">Solutions</a></li>
  <li><a href="#About">About</a></li>
  <li style="float: right"><img src="./assets/imgs/a.png" alt="Amdocs Logo" height="50"></li>
  </ul>
  <br>
  <div class="container" >

    <div class="container">

           <H2 align="center">Loggitor<span id="date2"></span></H2>
           <br><br>
    </div>
    <div class="row">
            <div class="col-1" >
             </div>
            <div class="col-10" align="center">
              <app-defect-log></app-defect-log>
            </div>
            <div class="col-1" >
            </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-6" align="center">
        </div>

</div>
<div>
  <app-pie-chart></app-pie-chart>
</div>
</div>
