<div>
        <mat-table #table [dataSource]="severitydataSource" matSort>
         <ng-container matColumnDef="Severity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Severity </mat-header-cell>
          <mat-cell *matCellDef="let severity">{{severity.Severity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="DefNum">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DefNum </mat-header-cell>
            <mat-cell *matCellDef="let severity">{{severity.DefNum}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Def">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Def </mat-header-cell>
            <mat-cell *matCellDef="let severity">{{severity.Def}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
    </mat-table>
</div>
